.appearance-status {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    min-width: 7rem;

}

.header__h3 {
    @include carbon--type-style('code-02');
    color: #ffffff;

}